/* homepage */


ul.tiles{
    list-style-type: none;
    /* margin: 28px 0 0 0; */
    margin: 0;
    padding: 0;
    overflow: hidden;
}

  ul.tiles li{
      border: 5px solid white;
      float: left;
      margin: 0;
  }

  ul.tiles li img{
      padding: 6px;
      border-radius: 5px;
      width: 200px;
      height: 200px;
      opacity: 1;
      -moz-border-radius: 5px;
      -webkit-border-radius: 5px;
      -moz-box-shadow: 0 1px 2px rgba(0,0,0,0.25);
      -webkit-box-shadow: 0 1px 2px rgba(0, 0, 0, 0.25);
      -o-box-shadow: 0 1px 2px rgba(0,0,0,0.25);
      box-shadow: 0 1px 2px rgba(0, 0, 0, 0.25);
  }

  ul.tiles li a{
      display: block;
  }

  ul.tiles li p{
      margin: 12px 0 0 0;
      text-align: center;
      color: #8D2679;
      font-family: courier;
      font-size: 18px;
  }

  ul.tiles li:hover img{
      opacity: 0.5;
  }

ul.teacher.tiles li img{
    width: 100px;
    height: 100px;
    opacity: 1;
}

.shortcuts td {
	padding: 8px;
}